.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj

.DS_Store
/.quarto/
/_site/
/_book/


content/customizing.qmd
content/rendering.qmd
content/rmarkdown.Rmd
content/code.qmd
content/adding-refs.qmd
content/references.qmd
content/nul
